@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
/* Add this CSS in your global CSS or in a CSS file that's included in your project */
 .crosal ::-webkit-scrollbar{
  display: none;
  }

